@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
      url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Semibold.woff') format('woff'),
      url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Consolas';
  src: url('../fonts/Consolas.eot');
  src: url('../fonts/Consolas.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Consolas.woff2') format('woff2'),
      url('../fonts/Consolas.woff') format('woff'),
      url('../fonts/Consolas.ttf') format('truetype'),
      url('../fonts/Consolas.svg#Consolas') format('svg');
  font-weight: normal;
  font-style: normal;
}










/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Proxima Nova';
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.icon {
  width: 1em;
  height: 1em;
  fill: #868DB8;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

main {
  padding-bottom: 30px;
}

main.sign {
  height: 100%;
}
.sign__form {
  max-width: 840px;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden; 
  font-size: 12px;
  color: #868DB8;   
}
.sign__form .col {
  padding: 50px 80px;
}
.sign__form .col p {
  margin: 20px 0 0 0;  
}
.sign__form .form--logo {
  width: 165px;
  height: 89px;
  margin: auto;
}
.sign__form .form--logo img {
  width: 100%;
}
.sign__form .form--toggle {
  margin: 54px 0 15px 0;
  font-size: 14px;
  line-height: 1;
}
.sign__form .form--toggle a {
  color: rgba(143, 152, 161, 0.3);
  margin: 0 9px;
}
.sign__form .form--toggle a.current {
  color: #0E1C71;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
.sign__form .form-group {
  margin-bottom: 12px;
}
.sign__form .form__param {
  margin-top: 16px;
}
.sign__form .form__param .form-group {
  margin-bottom: 0;
}
.sign__form .form__param .form-group .form-check-input {
  margin-top: 0.12rem;
}
.sign__form .form--submit {
  margin-top: 12px;
}
.sign__form .form-links {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
}
.sign__form .form-links li {
  margin-bottom: 8px;
}
.sign__form .form-links li a {
  display: inline-flex;  
  align-items: baseline;
}
.sign__form .form-links li a:hover .icon {
  fill: #44507F;
}
.sign__form .form-links .uil {
  font-size: 16px;
  margin-right: 8px;
}



/* HEADER */
header {
  height: 60px;
  padding: 0 32px 0 29px;
  position: relative;
}
.header__logo {
  
}
.header__logo img.full {
  width: 222px;
}
.header__logo img.short {
  width: 53px;
}
.header__nav {

}
.header__nav .site--list {
  
}
.header__nav .site--list > .btn {
  background-color: transparent!important;
  color: #9DB7CB!important;
  font-size: 14px;
  padding: 0 6px 0 9px;  
  line-height: 1;
  height: 30px;
  border: 1px solid #9DB7CB!important;
  cursor: pointer;
}
.header__nav .site--list .btn .uil-globe {
  font-style: 13px;
  margin-right: 6px;
}
.header__nav .site--list .btn .uil-angle-down {
  font-size: 16px;
  margin-left: 8px;
}
.header__nav .site--list .wrapper {
  position: absolute;
  top: calc(100% + 10px)!important;
  left: 0!important;
  transform: translate3d(0, 0, 0)!important;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 13px 0 13px;
}
.header__nav .site--list .form-group {
  position: relative;
  margin-bottom: 38px;
}
.header__nav .site--list .form-group .form-control {
  padding-left: 30px;
  font-size: 12px;
}
.header__nav .site--list .form-group .form-control:focus + .uil-search {
  color: #199DBF;
}
.header__nav .site--list .form-group .uil-search {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(143, 152, 161, 0.3);
}
.header__nav .site--list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
}
.header__nav .site--list ul li {
  margin-bottom: 19px;
}
.header__nav .site--list ul li.success a {
  color: #199DBF;
  display: inline-block;
  position: relative;
  padding-right: 28px;
} 
.header__nav .site--list ul li.success a::after {
  content: '\e8d7';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-family: unicons;
  line-height: 1;
}
.header__nav .site--list .list--footer {
  margin: 0px -12px 0px -12px;
  padding: 12px 0 10px 0;
}
.header__nav .site--list .list--footer img {
  width: 49px;
  margin: 0 10px 0 13px;
}
.header__nav .site--list .list--footer .list--footer-question {
  font-size: 12px;
  line-height: 15px;
  margin-right: 14px;
}
.header__nav .site--list .list--footer .list--footer-question a {
  white-space: nowrap;
  margin-bottom: 9px;
}
.header__nav .profile--list {
  margin-left: 18px;
  position: relative;
}
.header__nav .profile--list .profile--list-button {
  cursor: pointer;
}
.header__nav .profile--list .profile--list-button .profile--list-ava {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid transparent;
}
.header__nav .profile--list.premium .profile--list-button .profile--list-ava {  
  border: 2px solid #7E5BEF;
}
.header__nav .profile--list .profile--list-button .profile--list-ava img {
  width: 100%;
}
.header__nav .profile--list .profile--list-name {
  font-size: 14px;
  line-height: 17px;
  color: #9DB7CB;
  margin-left: 11px;
}
.header__nav .profile--list.premium .profile--list-name::after {
  content: "Premium";
  font-size: 9px;
  line-height: 1;
  color: #7E5BEF;
}
.header__nav .profile--list .uil-angle-down {
  color: #9DB7CB;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header__nav .profile--list .wrapper {
  position: absolute;
  top: calc(100% + 10px)!important;
  right: 0!important;
  left: auto!important;
  transform: translateY(0)!important;
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
  min-width: 186px;
}
.header__nav .profile--list .profile--list-body .list-header {
  padding: 11px 18px 8px 12px;
  border-bottom: 1px solid rgba(143, 152, 161, 0.3);
}
.header__nav .profile--list .profile--list-body .list-header .header--ava {
  width: 55px;
  height: 55px;
  border: 2px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}
.header__nav .profile--list.premium .profile--list-body .list-header .header--ava {
  border-color: #7E5BEF;
}
.header__nav .profile--list .profile--list-body .list-header .header--ava img {
  width: 100%;
}
.header__nav .profile--list .profile--list-body .list-header .header-info {
  font-size: 8px;
  line-height: 10px;
  margin-left: 8px;
  color: #868DB8;
  white-space: nowrap;
}
.header__nav .profile--list .profile--list-body .list-header .header-info .name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}
.header__nav .profile--list .profile--list-body .list-header .header-info .premium {
  display: none;
  color: #7E5BEF;
  margin-bottom: 3px;
}
.header__nav .profile--list.premium .profile--list-body .list-header .header-info .premium {
  display: block;
}
.header__nav .profile--list .profile--list-body .list-links {
  list-style: none;
  margin: 20px 14px 0 14px;
  padding: 0;
}
.header__nav .profile--list .profile--list-body .list-links li {
  margin-bottom: 16px;
}
.header__nav .profile--list .profile--list-body .list-links li a {
  color: #44507F;
}
header nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #223C53;
}
header nav a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #9DB7CB;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}
header nav a:hover {
  color: #199DBF;
  text-decoration: none;
}
header nav a .uil {
  font-size: 16px;
  margin-right: 8px;
}
header nav a.current .uil {
  color: #199DBF;
}
header nav a.current::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #199DBF;
  position: absolute;
  bottom: 0;
  left: 0;  
}
header nav .dropdown-menu {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0;
}
header nav .dropdown-menu .dropdown-item {
  height: 49px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #44507F;  
}
header nav .dropdown-menu .dropdown-item:not(.blue):hover {
  color: #199DBF;
  background: transparent!important;
}
header nav .dropdown-menu .dropdown-item.blue {
  background: #F1F9FB;
  font-weight: 600;
  color: #199DBF;
}



/* DASHBOARD */
main.dashboard {
  margin-top: 60px;
}
main.dashboard .row {
  margin: 0 -9px;
}
main.dashboard .col {
  padding: 0 9px;
}
.main__title {
  padding: 36px 0 19px 0;
}
.main__title_bar {

}
.main__title h2 {
  margin-bottom: 0;
}
.main__title_links {
  font-size: 14px;
  line-height: 17px;  
}
.main__title_links a {
  margin-right: 24px;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
}
.main__title_links a.current {
  color: #199DBF;
  border-bottom: 2px solid #199DBF;
}
.main__title_links a:last-child {
  margin-right: 0;
}
.dashboard__alert_content {
  margin-left: 33px;
  margin-right: auto;
}
.dashboard__alert_content span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #199DBF;
  display: block;
}
.dashboard__alert_content b {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  display: block;
}

.statistics .row {
  margin: 0 -9px;
}
.statistics .col {
  padding: 0 9px;
}

.o-card {
  display: flex;
  border-radius: 10px;
  height: 92px;
  padding: 0 16px;
  align-items: center;
  width: 100%;
}
.o-card__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-card__icon img {
  width: 100%;
  height: 100%;
}
.o-card__info {
  margin-left: 20px;
}
.o-card__info b {
  font-size: 30px;
  line-height: 37px;
  color: #44507F;
  display: block;
}
.o-card__info span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.o-card.red {
  background-color: #FFEFEE;
}
.o-card.red .o-card__icon {
  background: rgba(255, 103, 96, 0.15);
}
.o-card.red .o-card__info span {
  color: #FF6760;
}
.o-card.blue {
  background: rgba(38, 132, 255, 0.1);
}
.o-card.blue .o-card__icon {
  background: rgba(38, 132, 255, 0.15);
}
.o-card.blue .o-card__info span {
  color: #2684FF;
}
.o-card.green {
  background: #E6FAF3;
}
.o-card.green .o-card__icon {
  background: rgba(94, 214, 150, 0.15);
}
.o-card.green .o-card__info span {
  color: #16D090;
}
.o-card.yellow {
  background: #FEF8E7;
}
.o-card.yellow .o-card__icon {
  background: rgba(253, 190, 0, 0.1);
}
.o-card.yellow .o-card__info span {
  color: #FDBE00;
}
.o-card.violet {
  background: #EDEAFF;
}
.o-card.violet .o-card__info span {
  color: #6554C0;
}



.s-card {
  display: flex;
  border-radius: 10px;
  height: 84px;
  padding: 0 16px;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
}
.s-card a {
  color: #199DBF;
}
.s-card__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-card__icon img {
  width: 100%;
  height: 100%;
}
.s-card__info {
  margin-left: 20px;
}
.s-card__info b {
  font-size: 24px;
  line-height: 29px;
  color: #44507F;
  display: block;
}
.s-card__info span {
  font-size: 10px;
  line-height: 12px;
  display: block;
  text-transform: uppercase;
  color: #868DB8;
}
.s-card__info span.stat {
  font-size: 10px;
  line-height: 12px;  
  text-transform: none
}


.s-card.total .s-card__icon {
  background: #E6FAF3;
}

.s-card.paid .s-card__icon {
  background: #FEF8E7;
}
.s-card.page .s-card__icon {
  background: #FFEFEE;
}
.s-card.country .s-card__icon {
  background: #F8FCEF;
}
.s-card.up .s-card__info span.stat {
  color: #39CABE;
}
.s-card.down .s-card__info span.stat {
  color: #FF808B;
}

.recent-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 14px 24px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.recent-card h3 {
  margin-bottom: 14px;
}
.recent-card .recent--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recent-card .recent--list li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

}
.recent-card .recent--list li:last-child {
  margin-bottom: 0;
}
.recent-card .recent--list li span {
  margin-right: auto;
}
.recent-card .recent--list li time {
  margin-right: 22px;
}
.recent-card .recent--list li i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.recent-card .recent--list li.success i {
  background: #39CABE;
}
.recent-card .recent--list li.danger i {
  background: #FF808B;
}
.recent-card .more {
  margin-top: auto;
}
.recent-card .more a {
  color: #199DBF;
}

.blog-card {  
  width: 100%;
  position: relative;
  padding: 20px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.blog-card .blog-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}
.blog-card .blog-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card .blog__title {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.blog-card .blog__name {
  position: relative;
  margin-top: 8px;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}
.blog-card .blog__name a {
  color: #fff;
}
time {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  margin-top: auto;
}
.dashboadr-chart {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 25px;
  padding: 20px 20px 8px 20px;
  position: relative;  
}
.dashboadr-chart .chart {
  width: 100%;
  height: 328px;
}
.highcharts-credits {
  display: none;
}
.dashboadr-chart__detailes {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #199DBF;
}



/* VISITORS */
main.visitors {
  margin-top: 60px;  
}
.main__title .date {
  width: 280px;
}
.main__title .form-group {
  margin-bottom: 0;
}
.main__title .date .form-control {
  font-family: unicons, Proxima Nova;
}
.main__title .btn.download {
  min-width: 30px;
  width: 30px;
  font-size: 14px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.visitors__table {
  min-width: 850px;
}
.visitors__table table td,
.visitors__table table th {
  white-space: nowrap;
}
.visitors__table table th:nth-child(1){
  width: 25%;
}
.visitors__table table th:nth-child(2){
  width: 33%;
}
.visitors__table table th:nth-child(3){
  width: 25%;
}
.visitors__table table thead th:first-child {
  padding-left: 52px;
}
.visitors__table table tbody td:first-child {
  font-size: 16px;
  line-height: 19px;
}
.visitors__table table tbody td:first-child a {
  text-decoration: none;
}
.visitors__table table tbody td:first-child * {
  vertical-align: middle;
}
.visitors__table table tbody td:first-child img {
  width: 17px;
  height: 17px; 
}
.visitors__table .uil-plus-circle {
  margin-left: 18px;  
  font-size: 18px;
  position: relative;
  top: 1px;
  margin-right: 15px;  
}
.visitors__table table tbody td:last-child {  
  padding-right: 35px;
}
.visitors__table table tbody td:last-child img {
  width: 20px;
  height: 20px;
}

.visitors__pagination {
  margin-top: 20px;
}
.visitors__pagination .total {
  font-size: 14px;
  line-height: 17px;  
}
select.form-control:not([size]):not([multiple]) {
  height: 25px;
  margin-left: 6px;
}

.visitor-modal {
  font-size: 14px;
  line-height: 17px;
  color: #0E1C71;
}
.visitor-modal label {
  font-size: 10px;
  line-height: 12px;
  color: #868DB8;
  margin-bottom: 3px;
  display: block;
}
.visitor-modal a {
  color: #199DBF;  
}
.visitor-modal__navigator {
  border-top: 1px solid #d8dbdf;
  border-bottom: 1px solid #d8dbdf;
  padding: 10px 0 7px 0;
}
.visitor-modal__navigator img {
  max-width: 12px;
  max-height: 12px;
}
.visitor-modal__location {
  padding: 14px 0 19px;
}
.visitor-modal__location p {
  margin-bottom: 13px;
}
.visitor-modal__map {

}
.visitor-modal__map .map--title img {
  vertical-align: baseline;
  max-height: 9px;
}
.visitor-modal__map .map--body img {
  width: 100%;
  border-radius: 5px;  
}
.visitor-modal__session {
  margin: 19px -23px 0 -23px;  
  padding: 19px 23px 23px 23px;
}
.visitor-modal__session .session--title {
  font-size: 10px;
  line-height: 12px;
  color: #44507F;
}
.visitor-modal__session .session--list {
  list-style: none;
  margin: 6px 0 0 0;
  padding: 0;
}
.visitor-modal__session .session--list li {
  padding-left: 21px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 12px;
  color: #868DB8;
  margin-bottom: 17px;
}
.visitor-modal__session .session--list li:last-child {
  margin-bottom: 0;
}
.visitor-modal__session .session--list li::before {
  content: "\e8e0";
  font-family: unicons;
  font-size: 8px;
  color: #F1F9FB;
  display: block;
  width: 13px;
  height: 13px;
  background-color: #868DB8;
  border-radius: 50%;
  display: flex;
  padding-left: 3px;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
.visitor-modal__session .session--list li span {
  font-size: 14px;
  line-height: 17px;
  color: #0E1C71;
  display: block;
  margin-bottom: 3px;
}
.visitor-modal__session .session--list li i {
  font-style: normal;
}


/* SETTINGS */
main.settings {
  margin-top: 60px;
  padding-bottom: 0;
}
main.settings .settings__scroll {
  height: calc(100vh - 60px - 60px - 30px - 36px - 19px);
  overflow-y: auto;
}
main.settings .settings__scroll::-webkit-scrollbar {
  width: 8px;
}

main.settings .settings__scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(25, 157, 191, 0.5);
}

main.settings .settings__scroll::-webkit-scrollbar-thumb {
  background-color: #199DBF;
  outline: 1px solid #199DBF;
}
main.settings .settings__list {
  list-style: none;
  margin: 6px 0 0 0;
  padding: 0;
  flex-direction: column;
}
main.settings .settings__list li {  
  font-size: 16px;
  line-height: 19px;  
  margin-bottom: 15px;
  box-sizing: border-box;
}
main.settings .settings__list li a {
  color: #868DB8;
  padding: 0;
  padding-left: 15px;  
}
main.settings .settings__list li a.active {
  font-weight: 600;  
  border-left: 5px solid #199DBF;
  padding-left: 10px;
  color: #199DBF;
}


.settings__article {
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  border-left: 4px solid #199DBF;
  padding: 17px 42px 19px 59px;
  margin-bottom: 14px;
  position: relative;
}
.settings__article.star::after {
  content: "";
  display: block;
  width: 27px;
  height: 32px;
  background: url('../img/star-badge.svg') no-repeat center / cover;
  position: absolute;
  top: 0;
  right: 17px;
}
.settings__article_title {
  font-size: 18px;
  line-height: 22px;
  color: #44507F;
  font-weight: bold;  
  margin-left: -40px;
}
.settings__article_title .custom-switch {
  padding-left: 2.55rem;
}
.settings__article_title .custom-control-label::before {
  top: 0.15rem;  
  left: -2.55rem;
}
.settings__article_title .custom-switch .custom-control-label::after {
  top: calc(0.15rem + 2px);
  left: calc(-2.55rem + 2px);
}
.settings__article_description {
  font-size: 14px;
  line-height: 17px;
  color: #868DB8;
}
.settings__info-bar {
  font-size: 14px;
  line-height: 17px;
  color: #0070FF;
  margin-top: 11px;
}
.settings__info-bar::before {
  content: '\ea73';
  font-family: unicons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;  
  -webkit-font-smoothing: antialiased;
}
.settings__info-bar a {
  color: #0070FF;
}
.settings__article_rules {
  list-style: none;
  margin: 28px 0 0 0;
  padding: 0;
}
.settings__article_rules li {
  position: relative;
  padding-bottom: 13px;  
  border-bottom: 1px solid rgba(143, 152, 161, 0.3);
  margin-bottom: 22px;
}
.remove {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -15px;
  top: -12px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none!important;
}
.remove .uil {
  color: rgba(143, 152, 161, 0.3);
}
.settings__article_rules li .rule--title {
  font-size: 14px;
  line-height: 17px;
  color: #44507F;
}
.settings__article_rules li .rule--condition {
  font-size: 14px;
  line-height: 17px;
  color: #868DB8;  
  margin-bottom: 0;
  margin-top: 10px;
}
.settings__article_rules li .rule--condition input {
  width: 50px;
  height: 21px;
  display: inline-block;
  background: #F1F9FB;
  border-radius: 3px;
  border: none;
  margin-right: 4px;
}
.settings__article_rules li .rule--condition span {
  margin-right: 4px;
}
.settings__article .rule-new {
  font-size: 14px;
  line-height: 17px;  
  text-align: right;
  font-weight: 600;
  margin-top: 18px;
}
.settings__article .rule-new a {
  color: #0E1C71;
}
.settings__article .unlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(235, 243, 253, 0.5);
}
.settings__radio {
  font-size: 14px;
  line-height: 17px;
  margin-top: 17px;
  color: #868DB8;
}
.settings__radio_text {
  color: #44507F;
  margin-bottom: 10px;
}
.settings__radio .form-group {
  line-height: 1.5;
}
.settings__tags {
  margin-top: 16px;
}
.settings__tags_title {
  font-size: 14px;
  line-height: 17px;
  color: #44507F;
  margin-bottom: 12px;
}
.settings__tags input {
  height: 30px;
}
.settings__code {
  background: #2A3350;
  border-radius: 5px;  
  margin-left: -42px;
  margin-right: -24px;
}
.settings__code pre {
  padding: 17px 0 17px 13px;
  margin-bottom: 0;
}
.settings__code pre code {
  color: #199DBF;
  font-family: Consolas;
  font-size: 12px;
  line-height: 14px;  
}

.settings__code pre .red {
  color: #e96a5d;
}
.settings__code pre .white {
  color: #fff;
}
.settings__code pre .green {
  color: #13d896;
}
.settings__code pre .yellow {
  color: #ffcb56;
}
.settings__upgrade {
  background: #F1F9FB;
  border-radius: 10px;
  width: 234px;
  margin-left: auto;
  padding: 28px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings__upgrade img {
  width: 72px;
  margin-bottom: 7px;
}
.settings__upgrade span {
  font-size: 12px;
  line-height: 15px;
  color: #868DB8;
  margin-bottom: 12px;
}
.settings-rule-modal {
  font-size: 12px;
  line-height: 15px;
  color: #44507F;
}
.settings-rule-modal .form-group label {
  margin-bottom: 6px;
}
.settings-rule-modal .rule--description {
  margin-bottom: 30px;
}
.settings-rule-modal .rule--description .form-control {
  display: inline-block;
  width: auto;
}
.settings-rule-modal .rule--description input.form-control {
  width: 42px;
  margin-bottom: 4px;
}
.settings-rule-modal .rule--description select.form-control {
  width: 65px;
  margin-bottom: 4px;
}



/* EXLUSION */
main.exlusion {
  margin-top: 60px;
}
.exlusion__table {
  font-size: 14px;
  line-height: 17px;
  color: #44507F;
  min-width: 800px;
}
.exlusion__table .custom-checkbox {
  margin-left: 21px;
}
.exlusion__table .exlusion__tag .tag {
  display: inline-flex;
  height: 17px;
  padding: 2px 10px 0 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-right: 7px;
  border-radius: 3px;
  font-style: normal;
}
.exlusion__table .exlusion__tag .tag.danger {
  background: #FF808B;
}
.exlusion__table .exlusion__tag .tag.success {
  background: #39CABE;
}
.exlusion__table td {
  white-space: nowrap;
}
.exlusion__tag span {
  font-size: 12px;
  line-height: 15px;
  color: #868DB8;
}
.exlusion__clicks span {
  color: #868DB8;
}
.exlusion__table .remove {
  position: static;
  display: inline-flex;
  padding: 0 25px;
}
.exlusion__table .exlusion__date {
  width: 33%;
}
.exlusion__table .exlusion__ip {
  width: 25%;
}
.exlusion__table .exlusion__tag {
  width: 40%;  
}
.exlusion__range {
  margin-left: .5rem;
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px 22px 15px 22px;
  margin-top: 45px;
}
.exlusion__range_title {
  
}
.exlusion__range_title img {
  width: 73px;
  display: block;
  margin: 0 auto 20px auto;
}
.exlusion__range_title span {
  font-size: 18px;
  line-height: 22px;
  color: #44507F;
  font-weight: bold;
  display: block;
}
.exlusion__range_example {
  margin-top: 14px;
  font-size: 12px;
  line-height: 15px;
  color: #868DB8;
}
.exlusion__range_example .example--title {
  color: #44507F;
}
.exlusion__range_example .example--list {
  margin-top: 5px;
  padding-left: 22px;
  margin-bottom: 0;
}
.exlusion__range .range--form {
  
}
.exlusion__range .range--form select.form-control {
  margin-left: 0;
  color: rgba(143, 152, 161, 0.3);
}
.exlusion__range .range--form select.form-control.selected {
  color: #868DB8;
}
.exlusion__range .form-group {
  margin-top: 14px;
  margin-bottom: 0;
}
.exlusion__range .form-group label {
  font-size: 12px;
  line-height: 15px;
  color: #44507F;
  margin-bottom: 4px;
}
.exlusion__range .range--form .submit {
  margin-top: 28px;
  text-align: center;
}

/* APPS */
main.apps {
  margin-top: 60px;
}
main.apps .main__title {
  margin-bottom: 26px;
}
.apps__installed .row {
  margin: 0 -9px;
}
.apps__installed .row .col {
  padding: 0 9px;
}
.apps__installed_title {
  font-family: Proxima Nova;
  font-size: 18px;
  line-height: 22px;
  color: #44507F;
  margin-bottom: 11px;
}
.apps__installed_card {
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  height: 100%;
}
.apps__installed_card .card--logo {
  width: 42px;
  flex-shrink: 0;
  margin-right: 12px;
}
.apps__installed_card .card--logo img {
  width: 100%;
}
.apps__installed_card .card--body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.apps__installed_card .card--title {
  font-size: 18px;
  line-height: 22px;
  color: #44507F;
}
.apps__installed_card .card--description {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #868DB8;
  margin-bottom: 9px;
}
.apps__installed_card .card--actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.apps__installed_card .card--actions .settings {
  color: #9DB7CB;
}
.apps__installed_card .card--actions .uninstall {
  color: #199DBF;
}
.apps__new .row {
  margin: 0 -9px;
}
.apps__new .row .col {
  padding: 0 9px;
}
.apps__new_title {
  border-bottom: 1px solid rgba(143, 152, 161, 0.3);
  padding-bottom: 11px;
  margin-top: 32px;
  margin-bottom: 37px;
}
.apps__new_title .title--name {
  font-size: 18px;
  line-height: 22px;  
  color: #44507F;
}
.apps__new_title .form-group.search {
  width: 218px;
  margin-bottom: 0;
}
.apps__new_card {
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 18px 12px 18px;
  margin-bottom: 18px;
}
.apps__new_card .card--logo {
  width: 71px;
  height: 71px;
}
.apps__new_card .card--logo img {
  width: 100%;
}
.apps__new_card .card--title {
  margin-top: 8px;  
  font-size: 18px;
  line-height: 22px;  
}
.apps__new_card .card--description {
  margin-top: 11px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #868DB8;
}
.apps__new_card .card--install {
  margin-top: 26px;
  text-align: center;
}
.apps__new_card .card--stat {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #0E1C71;
  width: 100%;
  margin-top: 17px;
}
.apps__new_card .card--stat img {
  width: 8px;
  height: 8px;
}
.apps-settings-modal .modal-body .form-group {
  margin-bottom: 16px;
}
.apps-settings-modal .modal-body .form-group label {
  font-size: 12px;
  line-height: 15px;
  color: #44507F;
  margin-bottom: 6px;
}
.apps-settings-modal .modal-body .form-group select.form-control {
  margin: 0;  
  background-position: right 13px center;  
  padding-right: 33px;  
}
.apps-settings-modal .modal-body .notification--title {
  font-size: 12px;
  line-height: 15px;
  color: #44507F;
  margin-bottom: 16px;
}
.apps-settings-modal .modal-body .custom-control {
  margin-bottom: 11px;
  line-height: 1;
}
.apps-settings-modal .modal-body .custom-control label {
  font-size: 12px;
  line-height: 15px;
  color: #868DB8;
}
.apps-uninstall-modal .uninstall--title {
  font-size: 20px;
  line-height: 24px;
  color: #0E1C71;
  margin-top: -7px;
}
.apps-uninstall-modal .uninstall--description {
  margin-top: 4px;
}
.apps-uninstall-modal .form-group {
  margin-top: 18px;
}

/* STATISTICS */
main.statistics {
  margin-top: 60px;
}
main.statistics .form-group.date {
  width: 277px;
}
.ratio-chart {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  position: relative; 
}
.ratio-chart .chart {
  width: 100%;
  height: 100%;
}
.ratio-chart__total {
  text-align: center;
  position: absolute;
  bottom: 32px;
  left: 140px;
}
.ratio-chart__total b {
  font-size: 24px;
  line-height: 29px;
  color: #44507F;
  font-weight: bold;
  display: block;
}
.ratio-chart__total span {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #868DB8;
  display: block;
}
.saving-chart {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  position: relative;
  margin-top: 25px;
  height: 252px;
}
.saving-chart .chart {
  height: 100%;
}

.saving-chart__total {
  font-size: 24px;
  line-height: 29px;
  color: #39CABE;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 40px;
  left: 20px;
}
.highcharts-title {
  font-family: Proxima Nova!important;
  font-size: 18px!important;
  line-height: 22px!important;
  color: #44507F!important;
  fill: #44507F!important;
  font-weight: 600;
}
.rules-frequency {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 18px 18px 30px 18px;
}
.rules-frequency ul {
  margin: 31px 0 0 0;
  padding: 0;
  list-style: none;
}
.rules-frequency ul li {
  margin-bottom: 16px;
}
.rules-frequency ul li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}
.rules-frequency ul li label b {
  font-size: 14px;
  line-height: 17px;
  color: #0E1C71;
  font-weight: 600;
}
.rules-frequency ul li label span {
  font-size: 12px;
  line-height: 15px;  
  color: #868DB8;
  font-weight: 600;
}
.rules-frequency .see-all {
  margin-top: 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #199DBF;
}
.rules-frequency .see-all a {
  color: currentColor;
}
.statistics .s-card {
  margin-bottom: 18px;
}
.statistics .s-card:last-child {
  margin-bottom: 0;
}


main.mobile-exclusions {
  margin-top: 60px;
}
main.mobile-exclusions .main__title .account {
  width: 277px;
  color: rgba(143, 152, 161, 0.3);
}
main.mobile-exclusions .main__title .account.selected {
  color: #868DB8;
}
main.mobile-exclusions .row {
  margin: 0 -9px;
}
main.mobile-exclusions .col {
  padding: 0 9px;
}
main.mobile-exclusions .mobile-exclusions-new {
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 17px 25px 28px 17px;
}
main.mobile-exclusions .mobile-exclusions-new h3 {
  margin-bottom: 12px;
}
main.mobile-exclusions .mobile-exclusions-new p {
  font-size: 14px;
  line-height: 17px;
  color: #868DB8;
  margin-bottom: 9px;
}
main.mobile-exclusions .mobile-exclusions-new .question {
  font-size: 14px;
  line-height: 17px;  
  margin-bottom: 28px;
}
main.mobile-exclusions .mobile-exclusions-new .question a {
  color: #0070FF;
}
main.mobile-exclusions .mobile-exclusions-new .form-group {

}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox {
  width: calc(50% - 7px);
  margin-bottom: 9px;
}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox label {
  display: flex;
  align-items: center;
  padding: 0 0.565rem;
  height: 30px;
  border: 1px solid #ced4da;
  color: #868DB8;
  box-shadow: none!important;
  font-size: 14px;
  line-height: 17px;
  border-radius: .3rem;
  padding-right: 32px;
  position: relative;
}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox label::after {
  content: "\eb21";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32px;  
  font-family: unicons;
  font-style: normal;
  font-weight: 400;
  speak: none;  
  text-decoration: inherit;      
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  color: #DEE1E3;
}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox input[type="checkbox"]:checked + label {
  border-color: #199DBF;
}
main.mobile-exclusions .mobile-exclusions-new .account-checkbox input[type="checkbox"]:checked + label::after {
  content: "\e8d9";
  color: #199DBF;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .title {
  font-size: 14px;
  line-height: 17px;
  color: #44507F;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 9px;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group {
  width: calc(50% - 7px);
  margin-bottom: 9px;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group .input-group-text {
  padding: 0 8px;  
  color:#DEE1E3!important;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group.check .input-group-text {
  border-color: #199DBF;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group .form-control:hover {
  border-color: #DEE1E3!important;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group .form-control:focus {
  border-color: #DEE1E3!important;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group.check .form-control {
  border-color: #199DBF!important;
}
main.mobile-exclusions .mobile-exclusions-new .form-group .input-group.check .input-group-text {
  color: #199DBF!important;
}
main.mobile-exclusions .mobile-exclusions-new .custom-control {
  margin-bottom: 10px;  
}
main.mobile-exclusions .mobile-exclusions-new .custom-radio .custom-control-label {
  margin-bottom: 0px;  
  font-size: 14px;
  line-height: 18px;
  color: #868DB8;
}
main.mobile-exclusions .mobile-exclusions-new .custom-checkbox {
  margin-left: 17px;
}
main.mobile-exclusions .mobile-exclusions-new .custom-checkbox .custom-control-label {
  margin-bottom: 0px;  
  font-size: 14px;
  line-height: 16px;
  color: #868DB8;  
}
main.mobile-exclusions .mobile-exclusions-list {
  background: #FFFFFF;
  border: 0.5px solid rgba(143, 152, 161, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 17px 25px 28px 17px;
}
main.mobile-exclusions .mobile-exclusions-list table {
  width: 100%;
  margin-top: 23px;
  min-width: 600px;
}
main.mobile-exclusions .mobile-exclusions-list table th,
main.mobile-exclusions .mobile-exclusions-list table td {
  padding: 23px 0 13px 0;
}
main.mobile-exclusions .mobile-exclusions-list table thead th {
  font-size: 14px;
  line-height: 17px;
  color: #868DB8;
  padding: 0;
  font-weight: normal;
}
main.mobile-exclusions .mobile-exclusions-list table tbody td {
  border-bottom: 1px solid rgba(143, 152, 161, 0.3);
  font-size: 16px;
  line-height: 19px;
  color: #0E1C71;
  vertical-align: top;
}
main.mobile-exclusions .mobile-exclusions-list table tbody td span {
  display: inline-block;
}
main.mobile-exclusions .mobile-exclusions-list table .remove {
  position: static;
  display: inline-flex;
  padding: 0 25px;
  height: 23px;
}
main.mobile-exclusions .mobile-exclusions-list table img {
  height: 23px;
}
main.mobile-exclusions .alert a {
  color: #199DBF;
}

.header-menu-button {
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  flex-direction: column;
  border: none!important;
  outline: none!important;

}
.header-menu-button i {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin: 2px 0;
}
.table-moble-wrapper {
  overflow: auto;
}

@media screen and (max-width: 1314px){
  .ratio-chart__total {
    left: 106px;
  }
}
@media screen and (max-width: 1200px){
  .recent-card {
    padding: 14px;
  }
  header nav a {
    margin-right: 16px;
  }
  main.mobile-exclusions .mobile-exclusions-new .account-checkbox {
    width: 100%;
  }
  .ratio-chart__total {
    left: 73px;
  }
  .settings__upgrade {
    width: auto;
    margin-left: 24px;
  }
  .settings__list {
    display: flex;
    flex-wrap: wrap;
  }
  .settings__list li {    
    /* padding: 2px 2px 2px 2px!important;
    margin-right: 10px; */
  }
  .settings__list li a.active {
    /* border-left: none!important;
    border-bottom: 3px solid #199DBF;     */
  }
  
}
@media screen and (max-width: 992px){
  main.settings {
    padding-bottom: 34px;
  }
  .settings__scroll {
    height: auto!important;
  }
  .settings__upgrade {
    margin-left: 0;
  }
  .settings__list {
    display: none;    
  }
}
@media screen and (max-width: 768px){
  .ratio-chart__total {
    left: 93px;
  }  
  .main__title .btn.download {
    margin-left: 0;
  }
  header {
    padding-right: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .header-menu-button {
    display: flex;
  }
 header .mobile-wrapper {
   position: fixed;
   top: 60px;   
   right: 0;
   height: 0%;   
   /* height: calc(100% - 60px); */
   width: auto;
   background-color: #223C53;
   z-index: 10;   
   overflow: auto;
 }
 header.menu .mobile-wrapper {
   height: calc(100% - 60px);
 }
 header.menu .header-menu-button i {
  margin: -1px;
 }
 header.menu .header-menu-button i:nth-child(1){
  transform: rotate(45deg);
 }
 header.menu .header-menu-button i:nth-child(2){
  display: none;
 }
 header.menu .header-menu-button i:nth-child(3){
  transform: rotate(-45deg);
 }
 header .mobile-wrapper .header__nav {
   flex-direction: column;
   padding: 0 34px;
   margin-top: 14px;
 }
 header .mobile-wrapper .header__nav .site--list {
   order: 2;
   margin: 34px 0;
 }
 header .mobile-wrapper .header__nav .profile--list {
   order: 1;
 }
 header nav {
   position: static;
 }
 header nav .container {
   flex-direction: column;
   padding: 0;
 }
 header nav a {
   padding: 20px 34px 20px 34px;   
 }
 header nav a.current {
   font-weight: bold;
 }
 header nav a.current::after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #199DBF;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
 }
 .main__title_links {
   text-align: center;
 }
 .main__title_links a {
   margin-bottom: 8px;
   margin-right: 4px;
 }
 main.dashboard .alert {
   flex-direction: column;
   padding-top: 16px;
   padding-bottom: 16px;
}
main.dashboard .alert .dashboard__alert_content {
  margin: 16px 0;
  text-align: center;
}
main.mobile-exclusions .mobile-exclusions-list table tbody td {
  font-size: 14px;
}
}

@media screen and (max-width: 576px){
  .ratio-chart__total {
    display: none;
  }
}
