.uil::before {
  margin: 0;
}

.datepicker {
  color: #0E1C71;
}
.datepicker--day-name {
  color: #199DBF;
}

@media (min-width: 1314px) {
  .container {
    max-width: 1280px;
    padding: 0;
  }
}


.bg-primary {
  background-color: #199DBF!important;
}
.bg-secondary {
  background-color: #F1F9FB!important;
}
.bg-warning {
  background-color: #FF808B!important;  
}
.bg-dark {
  background-color: #122F45!important;
}
.text-primary {
  color: #0E1C71!important;
}
.text-secondary {
  color: #44507F!important;
}




a {
  color: #868DB8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: color 250ms ease;
}
a:hover {
  color: #44507F;
}


h1 {
  font-family: Proxima Nova;
  font-size: 33px;
  line-height: 40px;
  font-weight: bold;
}
h2 {
  font-family: Proxima Nova;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
h3 {
  font-family: Proxima Nova;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}


.dropdown-toggle::after {
  display: none;
}

.btn {
  border-radius: 6px;
  min-width: 90px;
}
.btn.btn-sm {
  height: 30px;
}
.btn-primary {
  background-color: #199DBF;
  border-color: #199DBF;
  color: #fff;
}

.btn-primary:hover {  
  background-color: #9DB7CB;
  border-color: #9DB7CB;
}
.btn-primary:active {
  background-color: #223C53!important;
  border-color: #223C53!important;
  box-shadow: none!important;
}
.btn-primary:focus {
  box-shadow: none!important;
}
.btn-link {
  color: #868DB8;
  text-decoration: none!important;
}
.btn-link:hover {
  color: #199DBF;  
}
.btn-link:active {
  color: #199DBF;
  border: 1px solid #199DBF;
}
.form-control {
  padding: 0 0.565rem;
  height: 30px;
  border-color: #DEE1E3;
  color: #868DB8;
  box-shadow: none!important;
  font-size: 14px;
  line-height: 17px;
  border-radius: .3rem;
}
.form-control-sm {
  height: 24px;
}
.form-control:focus {
  color: #0E1C71;
  border-color: #199DBF;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(143, 152, 161, 0.3);
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(143, 152, 161, 0.3);
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(143, 152, 161, 0.3);
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(143, 152, 161, 0.3);
}

.input-group .input-group-text {
  line-height: 1;
  background-color: transparent;
  border-left: none;
  border-color: #DEE1E3;
}
.input-group .form-control {
  border-right: none;
}

.form-check {
  padding-left: 0;
}
.form-check-input {
  visibility: hidden;
}
.form-check-label {
  padding-left: 18px;
}
.form-check-input[type="checkbox"] + label:before {
  border: 1px solid #DEE1E3;
  border-radius: 3px;
  content: "";
  display: inline-block;  
  width: 11px;
  height: 11px;
  margin: 0 7px 0 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 2px;
}
.form-check-input[type="checkbox"]:checked + label:before {  
  content: "";
  background: #199DBF url('../img/check.svg') no-repeat center;
  border-color: #199DBF;
}
.form-check-input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.form-check-input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}


.form-group.search {
  position: relative;
}
.form-group.search .form-control {
  padding-left: 30px;
  font-size: 12px;
}
.form-group.search .form-control:focus + .uil-search {
  color: #199DBF;
}
.form-group.search .uil {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(143, 152, 161, 0.3);
}
.form-group.date {
  position: relative;
}
.form-group.date .form-control {
  padding-left: 35px;
  font-size: 12px;
}
.form-group.date .uil {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(143, 152, 161, 0.3);
}
select.form-control {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: url('../img/bg-select.svg') no-repeat right 6px center;
  padding: 0 16px 0 8px;
  height: 30px!important;
}
select.form-control-sm {
  height: 24px!important;
}
.custom-control {
  min-height: auto;
}
.custom-switch .custom-control-label::before {
  background-color: #fff!important;
  border: 1px solid rgba(143, 152, 161, 0.3)!important;
  outline: none!important;
  box-shadow: none!important;
}
.custom-switch .custom-control-label::after {
  background: rgba(143, 152, 161, 0.3)!important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::before {
  background: #199DBF!important;
  border: none!important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff!important;
}
.custom-radio {
  padding-left: 0;  
}
.custom-radio .custom-control-label {
  padding-left: 17px;
}
.custom-radio .custom-control-label::before {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid rgba(143, 152, 161, 0.3);
  box-shadow: none!important;
  left: 0px;
}
.custom-radio .custom-control-label::after {
  width: 6px;
  height: 6px;
  top: 7px;
  left: 3px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
  border: 1px solid #199DBF;
  background-color: #fff!important;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background: #199DBF;
  border-radius: 50%;
}
.custom-checkbox .custom-control-label {
  line-height: 1.2;
}
.custom-checkbox .custom-control-label::before {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #FFFFFF!important;
  border: 1px solid rgba(143, 152, 161, 0.3)!important; 
  box-shadow: none!important;
  top: 0;
}
.custom-control-input:checked~.custom-control-label::before {
  background: #199DBF!important;
  border: 1px solid #199DBF!important;  
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  content: "\e8d9";
  font-family: unicons;
  background: none;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;  
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 16px;
  top: 0;
}

.border {
  border: 1px solid #9DB7CB!important;
}


.alert {
  padding: 9px 48px 9px 20px;
  min-height: 60px;
}
.alert-primary {
  background: #F1F9FB;
  border-radius: 5px;
  border: none;
}
.alert-dismissible .close {
  top: 50%;
  transform: translateY(-50%);
}


/* Table */
.table-panel {
  border: 1px solid #d8dbdf;
  border-radius: 5px;
  margin-top: 45px;
}
.table-panel .table {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  margin-top: -45px;
}
.table-panel .table thead th,
.table-panel .table thead td {
  border: none;
  height: 45px;
  vertical-align: middle;
  border: none;
  font-size: 12px;
  color: #868DB8;
}
.table-panel .table thead th.sorting,
.table-panel .table thead th.sorting_asc,
.table-panel .table thead th.sorting_desc,
.table-panel .table thead td.sorting,
.table-panel .table thead td.sorting_asc,
.table-panel .table thead td.sorting_desc {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.table-panel .table thead th .uil-angle-up,
.table-panel .table thead td .uil-angle-up,
.table-panel .table thead th .uil-angle-down,
.table-panel .table thead td .uil-angle-down {
  font-size: 14px;
  position: relative;
  top: 1px;
}
.table-panel .table thead th.sorting .uil-angle-up,
.table-panel .table thead td.sorting .uil-angle-up,
.table-panel .table thead th.sorting .uil-angle-down,
.table-panel .table thead td.sorting .uil-angle-down {
  /* display: none; */
}
.table-panel .table thead th.sorting_asc .uil-sort,
.table-panel .table thead td.sorting_asc .uil-sort,
.table-panel .table thead th.sorting_asc .uil-angle-down,
.table-panel .table thead td.sorting_asc .uil-angle-down {
  /* display: none; */
}
.table-panel .table thead th.sorting_desc .uil-sort,
.table-panel .table thead td.sorting_desc .uil-sort,
.table-panel .table thead th.sorting_desc .uil-angle-up,
.table-panel .table thead td.sorting_desc .uil-angle-up {
  /* display: none; */
}
.table-panel .table th,
.table-panel .table td {
  vertical-align: middle;  
  height: 45px;
  color: #44507F;
  padding: 0;
  font-weight: normal;
}
.table-panel .table a {
  color: #44507F;
}
.table-panel .table tbody tr:first-child th,
.table-panel .table tbody tr:first-child td {
  border-top: 0;
}


/* Pagination */
.pagination {
  margin-bottom: 0;  
}
.pagination .page-item {
  margin-right: 6px;
}
.pagination .page-item:last-child {
  margin: 0;
}
.pagination .page-item .page-link {
  border: none;
  min-width: 25px;
  height: 25px;
  padding: 0 6px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: #868DB8;
  border-radius: 5px;
}
.pagination .page-item .page-link:hover {
  background-color: #F1F9FB;
}
.pagination .page-item .page-link[aria-label="Previous"],
.pagination .page-item .page-link[aria-label="Next"] {
  background-color: #FFFFFF;
  border: 1px solid #DEE1E3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0;  
}
.pagination .page-item .page-link[aria-label="Previous"]:hover,
.pagination .page-item .page-link[aria-label="Next"]:hover {
  background-color: #F1F9FB;
}
.pagination .page-item .uil {
  font-size: 20px;
  display: inline-block;
  margin-top: 2px;
}
.pagination .page-item.active .page-link {
  background-color: #199DBF;
  color: #fff;
}


/* Modal */
.modal {
  
}
.modal-content {
  max-width: 460px;
  border-radius: 5px;
  overflow: hidden;
}
.modal-header {
  display: flex;
  align-items: center;
  border: none;
  padding: 23px;
}
.modal-header .close {
  color: #d8dbdf;
  font-size: 20px;
  opacity: 1;
}

.modal-title {
  font-size: 20px;
  line-height: 24px;
  color: #0E1C71;
}
.modal-title img {
  width: 35px;
  height: 35px;
  margin-right: 9px;
}
.modal-body {
  padding: 0 23px;
}

.bootstrap-tagsinput {
  height: 30px;
  border: 1px solid #DEE1E3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 9px;
  display: flex;
  align-items: center;
}
.bootstrap-tagsinput .badge {
  margin: 7px 8px 7px 0;
  background: #F1F9FB;
  border-radius: 3px;
  font-family: Proxima Nova;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #44507F;
  padding: 0 0 0 4px;
  min-height: 17px;
  display: inline-flex;
  align-items: center;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 3px;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "\ebef";
  padding: 0 4px 0 0;
  font-family: unicons;
  background: none;
  font-size: 10px;
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background: none;
}
.bootstrap-tagsinput input {
  font-family: Proxima Nova;
  font-size: 12px;
  line-height: 15px;
  color: #44507F;
}
.bootstrap-tagsinput input::-webkit-input-placeholder {
  color: rgba(143, 152, 161, 0.3);
}
.bootstrap-tagsinput input::-moz-placeholder {
  color: rgba(143, 152, 161, 0.3);
}
.bootstrap-tagsinput input:-ms-input-placeholder {
  color: rgba(143, 152, 161, 0.3);
}
.bootstrap-tagsinput input:-moz-placeholder {
  color: rgba(143, 152, 161, 0.3);
}


.progress {
  height: 6px;
  border-radius: 0px 30px 30px 0px;
}
.progress .progress-bar {
  border-radius: 0px 30px 30px 0px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #868DB8;
  text-align: center;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 4px 10px;
}
.tooltip.bs-tooltip-top .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #fff;
  box-shadow: 0px 6px 15px rgba(3, 27, 78, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
}